ul{
    padding: 0 !important;
}
.breadcrumb ul{
    width: 100% !important;
    padding: 10px 20px !important;
}
.jq-toast-heading{
    font-size: 15px !important;
 }

 .jq-toast-single{
    text-align: right !important;
    padding-right: 25px !important;
 }

 .text-break {
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}

.table{
    vertical-align: middle!important;
}

.font-16{
    font-size: 16px !important;
}

h3.btn{
    color: #636e72 !important;
}
