.invalidFeedback{
    width:100%;
    margin-top:.25rem;
    font-size:13px;
    color:#dc3545;
}

.form-select{
    padding-top: 13px;
    border-radius: 0;
    padding-bottom: 13;
}

.single-input-item input:disabled,.single-input-item input:read-only
{
    background-color: #ccc;
    color: rgb(49, 49, 49);
}

.not-in-stock p{
    background-color: #b5b5b5;
    color: #363636;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}
