.invalidFeedback{
    width:100%;
    margin-top:.25rem;
    font-size:13px;
    color:#dc3545;
}

.form-select{
    padding-top: 13px;
    border-radius: 0;
    padding-bottom: 13;
}

.single-input-item input:disabled
{
    background-color: #ccc;
    color: rgb(49, 49, 49);
}
